<%- include('includes/meta-tags.ejs') %>
 <link rel="stylesheet" href="/form.css">
</head>
<body>
    <%- include('includes/header.ejs') %>

    <div class="edit-products-box">
        <a href="/admin/admin-control">Edit added products</a>
    </div>
    <main class="form-container">
        <h3><% if(editing){ %>Edit Product<% } else { %> Add Product <% } %></h3>
        <form class="add-pro-form" action="/admin/<% if (editing) { %>edit-products<% } else { %>add-products<% } %>" method="POST">
            <div class="input-container">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="<% if(editing){ %><%=product.name %> <% } %>">
            </div>
            <div class="input-container">
                <label for="imageUrl">ImageUrl:</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing){ %><%= product.imageUrl %> <% } %>">
            </div>
            <div class="input-container">
                <label for="price">Price:</label>
                <input type="text" name="price" id="price" value="<% if(editing){ %><%= product.price %> <% } %>">
            </div>
            <div class="input-container">
                
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10"><% if (editing) { %><%=product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <button class="btn" type="submit"><% if(editing){ %>update product<% } else { %> add product <% } %></button>
        </form>
    </main> 
</body>
</html>