<%- include('includes/meta-tags.ejs') %>
<link rel="stylesheet" href="/product.css">
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
        <div class="all-products">
            <% for (let product of prods){ %>

            <div class="product-container">
               
                    <img src="<%= product.imageUrl %>" alt="">
    
                <div class="content">
                    <h1><a href="/product/<%=product._id%>"><%= product.name %></a> </h1>
                    <span>$<%= product.price %> </span>
                    <p><%= product.description %></p>
                </div>  
                <form action="/post-cart" method="post">
                    <button class="btn" type="submit"> add to cart</button>
                    <input type="hidden" value="<%=product._id%>" name="productId">
                </form>
            </div>
            <% } %>
        </div>
        <% } else { %>
          <h1>No Product Found!</h1>
          <% } %>
    </main>
</body>
</html>